<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Database" connectionString="server=127.0.0.1;uid=root;pwd=password;database=inventory"/>
		<add name="Settings" connectionString=".\InventorySettings.txt"/>
	</connectionStrings>
	<appSettings>
		<add key="EmailUsername" value="example@gmail.com"/>
		<add key="EmailPassword" value="password"/>
	</appSettings>
</configuration>